<div class="row">
  <div class="col-sm-6 offset-sm-4">
    
    <div class="post">
      <h2>ALL POSTS</h2>
    </div>
    
    <% if user_signed_in? %> 
     <div class="row">
       <div class="col-sm-8">
         <ul class="list-unstyled">
           
          <% @posts.each do |post| %>
            <li class="media mb-3">
              <div class="media-body">
                <div>
                  <%= link_to post.user.name, mypage_path(post.user) %> <span class="text-muted">posted at <%= datetime(post.created_at) %></span>
                </div>
                 <div>
                  <p class="mb-2"><%= image_tag(post.image.url) %></p>
                </div>
                
                <div>
                  <div class="row">
                    <div class="col-2">
                      <%= render 'likes/like_button', post: post %>
                    </div>
                    <% if current_user == post.user %>
                      <div class="col-2">
                        <%= link_to post, method: :delete, data: { confirm: "削除してもよろしいですか?" } do %>
                          <i class="far fa-trash-alt fa-lg delete-btn"></i>
                        <% end %>
                      </div>
                      <div class="col-2">
                        <%= link_to edit_post_path(post) do %>
                          <i class="far fa-edit fa-lg edit-btn"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  
                  <div>
                    <p class="mb-5 mt-3">
                      <i class="fas fa-comment fa-lg "></i><%= post.body %>
                    </p>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
       </div>
     </div>
    <% end %>
    
  </div>
</div>
